<div class="row bgcolor1">
  <div class="col-md-2 col-sm-1 d-none d-sm-block">
  </div>
  <div class="col-md-8 col-sm-10 col-12 text-right">
    <p>&nbsp;</p>
    <p>
      <a href="#" class="btn btn-sm bgcolor3 color1" style="text-transform: uppercase;" data-ng-href="?lang="><i class="fas fa-list-alt"></i>&nbsp;<span data-ng-bind="i18n.studypath.advancement.follow[lang]"></span>&nbsp;</a>
      &nbsp;&nbsp;
      <a href="#" class="btn btn-sm bgcolor3 color1" style="text-transform: uppercase;" data-ng-href="?lang="><i class="fas fa-list-alt"></i>&nbsp;<span data-ng-bind="i18n.studypath.criteria.edit[lang]"></span>&nbsp;</a>
      &nbsp;&nbsp;
      <a href="#" class="btn btn-sm bgcolor3 color1" style="text-transform: uppercase;" data-ng-href="?lang="><i class="fas fa-plus-circle"></i>&nbsp;<span data-ng-bind="i18n.studypath.student.add[lang]"></span>&nbsp;</a>
      &nbsp;&nbsp;
      <span class="btn-group">
        <a href="#" data-ng-repeat="(l,s) in languages track by $index" data-ng-show="(languages | keylength)>1"
         class="btn btn-sm color0" data-ng-class="{'bgcolor3':$parent.lang==l, 'color1':$parent.lang==l}" data-ng-href="?lang={{l}}" title="{{s}}">&nbsp;{{l}}&nbsp;</a>
      </span>
      &nbsp;&nbsp;
      <a href="#" data-toggle="modal" data-target="#userInfoModal"><i class="fa fa-user fa-1x"></i>&nbsp;<span data-ng-bind="auth.firstname"></span></a>
    </p>
  </div>
  <div class="col-md-2 col-sm-1 d-none d-sm-block">
  </div>
</div>

<div class="modal fade" id="userInfoModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span data-ng-bind="auth.firstname"></span>&nbsp;<span data-ng-bind="auth.lastname"></span>
          <small><small><br>
          <span data-ng-bind="auth.uid"></span>
          </small></small>
          </h5>
        </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p><small data-ng-repeat="r in auth.role.split(';')">/<span data-ng-bind="r"></span></small></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-ng-href="{{auth.logouturl}}"><i class="fas fa-sign-out-alt"></i>&nbsp;<span data-ng-bind="i18n.headline.logout[lang]"></span></a>
      </div>
    </div>

  </div>
</div>
