<div class="teh-studypath">
  <div class="row">
    <div class="col-md-2 col-sm-1 d-none d-sm-block">
    </div>
    <div class="col-md-8 col-sm-10 col-12">
      <h4 data-ng-bind="studypath.content.title[lang]">*StudyPath (title)*</h4>
    </div>
    <div class="col-md-8 col-sm-1 d-none d-sm-block">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-1 d-none d-sm-block">
    </div>
    <div class="col-md-8 col-sm-10 col-12">
      <div data-ng-bind="studypath.content.info[lang]">
        <p>*StudyPath.Info*</p>
        <p>*...with its own HTML content*</p>
      </div>
    </div>
    <div class="col-md-8 col-sm-1 d-none d-sm-block">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-sm-1 d-none d-sm-block">
    </div>
    <div class="col-md-8 col-sm-10 col-12">

      <div data-ng-repeat="m in studypath.modules">
        <div data-ng-click="moduleOpen['id'+m.id]=!moduleOpen['id'+m.id]">
          <table class="table table-condensed bgcolor3 color1">
          <tr>
          <td>
          <h4>
            <i class="btn bgcolor2 color1 fas" data-ng-class="{'fa-arrow-down':!moduleOpen['id'+m.id], 'fa-arrow-up':moduleOpen['id'+m.id]}"></i>&nbsp;
            <span data-ng-bind="m.content.title[lang]">*Module (title)*</span>
          </h4>
          </td>
          <td align="right">
            <i class="fas" data-ng-class="{'fa-check-circle':moduleChange['id'+m.id], 'fa-pen':!moduleChange['id'+m.id]}"></i>
          </td>
          </tr>
          </table>
        </div>
        <div data-ng-show="moduleOpen['id'+m.id]">
          <form method="post" data-ng-controller="TinyMceController">
            <textarea data-ui-tinymce="tinymceOptions" data-ng-model="tinymceModel" data-ng-change="moduleChange['id'+m.id]=true"></textarea>
            <button data-ng-click="getContent()">Get content</button>
            <button data-ng-click="setContent()">Set content</button>
          </form>
        </div>
        <div data-ng-show="moduleOpen['id'+m.id]">
          <table>
          <tr>
            <td data-ng-repeat="a in m.assignments">
              <span data-ng-bind="a.content.title[lang]">*Assignment (title)*</span>
              <br>
              <button class="btn btn-sm btn-primary teh-btn" data-ng-bind="i18n.assignment.edit[lang]"></button>
            </td>
            <td>
              <span></span>
              <br>
              <button class="btn btn-sm btn-primary teh-btn" data-ng-bind="i18n.assignment.add[lang]"></button>
            </td>
          </tr>
          </table>
        </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-1 d-none d-sm-block">
    </div>
  </div>

</div><!-- /studypath -->
